{% extends '::base.html.twig' %}

{%block body%}
	<ul>
    <h1>Productos</h1>
	{% for item in entitie %}

		<div class="box span3">
			<div class="box-header well" data-original-title>
				<h2><i class="icon-th"></i> {{item.nombre}}</h2>
			</div>
			<div class="box-content">
				<div class="box-content" align="center" >
					<?--<a href="{{ path('pagproducto', {'idProd': item.id})}}">
						{{ render(controller('PpaPaloBundle:Default:picture', {'idProd': item.id } )) }}
					</a>
					<div  style="overflow: hidden; width: 200px; height: 100px;>
						<p align="left">
							<FONT FACE="times new roman" SIZE=3.5 color=0BA457>${{item.precio}}</FONT>
							<p align="left" ><BR>{{item.descripcionBreve}}</p>
  					</div>
  						<br><a href="{{ path('pagproducto', {'idProd': item.id})}}" class="btn btn-primary btn-lg active btn btn-info" role="button" shadow: 0 1px 3px rgba(0,0,0,.25)>Características</a>
  					</p>
				</div>
			</div>
		</div> 

	{% endfor %}
                    </ul>
{% endblock %}
