{% extends '::base.html.twig' %}

{%block body%}
	
		<div class="row-fluid sortable">
          {% set counter = 1 %} 
				{% for item in entitie %}
					<div class="box span4">
						<div class="box-header well" data-original-title>
							<h2><i class="icon-th"></i> {{item.nombre}}</h2>
						</div>
						<div class="box-content">

						<!-- asdads dasd  -->
								<div id="info" class="tab-pane active"  align="center" >
									<a href="{{ path('pagproducto', {'idProd': item.id , 'medicina' : medicina})}}">
										{{ render(controller('PpaPaloBundle:Default:picture', {'idProd': item.id , 'medicina' : medicina})) }}
									</a>
											 {% if item.oferta == null %}
													<FONT FACE="times new roman" SIZE=3.5 color=0BA457>${{item.precio}}</FONT>
											   {% else %}
                                						<h3 style="color:red">Oferta <spam style="color:green; font-size: 14px;"><FONT SIZE=4></FONT>$ </spam><spam style="color:green; font-size: 16px;"><FONT SIZE=4></FONT>{{item.oferta}}</spam></h3>
                                				{% endif %}

											<p>{{item.descripcionBreve}}</p>
				  						<br><a href="{{ path('pagproducto', {'idProd': item.id , 'medicina' : medicina})}}" class="btn btn-primary btn-lg active btn btn-info" role="button" shadow: 0 1px 3px rgba(0,0,0,.25)>Características</a>
				  					</p>
								</div>
						<!-- asdads dasd  -->
						</div>
					</div>
					{% if counter  is divisibleby(3) %}
						</div>
						<div class="row-fluid sortable">
					{% endif %}
					{% set counter = counter + 1 %}
				{% endfor %}
			</div>
                
{% endblock %}
