{% extends '::base.html.twig' %}

{%block body%}
	
    <div id="content" class="span10">
    <h1>Productos</h1>
    
		<div class="row-fluid sortable ui-sortable">
          {% set counter = 1 %} 
				{% for item in entitie %}
					<div class="box span5">
						<div  class="box-header well" data-original-title >
							<h2><i class="icon-th"></i>{{item.nombre}}</h2>
						</div>
						<div class="box-content">

						<!-- asdads dasd  -->
								<div id="info" class="tab-pane active"  align="center" >
									<a href="{{ path('pagproducto', {'idProd': item.id , 'medicina' : medicina})}}">
										{{ render(controller('PpaPaloBundle:Default:picture', {'idProd': item.id , 'medicina' : medicina})) }}
									</a>
											 {% if item.oferta == null %}
													<FONT FACE="times new roman" SIZE=3.5 color=0BA457>${{item.precio|number_format}}</FONT>
											   {% else %}
                                					<FONT FACE="times new roman" SIZE=3.5 color=0BA457>$</FONT><FONT SIZE=3.5 style="color:red"><strike>{{item.precio|number_format}}</strike></FONT><h3>Oferta <spam style="color:green; font-size: 14px;"><FONT SIZE=4></FONT> </spam><spam style="color:green; font-size: 16px;"><FONT SIZE=4>${{item.oferta|number_format}}</FONT></spam></h3>
                                				{% endif %}

											<p>{{item.descripcionBreve}}</p>
				  						<br><a href="{{ path('pagproducto', {'idProd': item.id , 'medicina' : medicina})}}" class="btn btn-primary btn-lg active btn btn-info" role="button" shadow: 0 1px 3px rgba(0,0,0,.25)>Características</a>
				  					</p>
								</div>
						<!-- asdads dasd  -->
						</div>
					</div>
					{% if counter  is divisibleby(2) %}
						</div>
						<div class="row-fluid sortable ui-sortable">
					{% endif %}
					{% set counter = counter + 1 %}
				{% endfor %}
			</div>
		</div>
                
{% endblock %}
