<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /> <!-- Its not valid html but it works -->
        <title>Palo Piña</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Le styles -->
        {% stylesheets 
            '@PpaPaloBundle/Resources/public/css/bootstrap-init.css'
            '@PpaPaloBundle/Resources/public/css/bootstrap-responsive-init.css'
            filter='cssrewrite' %}
            <link rel="stylesheet" type="text/css" href="{{ asset_url }}" >
        {% endstylesheets %}
        {% stylesheets 
            '@PpaPaloBundle/Resources/public/css/flexslider-init.css'
            '@PpaPaloBundle/Resources/public/css/style-init.css'
            filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" >
        {% endstylesheets %}
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.js"></script>
        <![endif]-->
        <!--[if gte IE 9]>
        <style type="text/css">
            .gradient { filter: none; }
        </style>
        <![endif]-->
 
        <!-- Fav and touch icons -->
 <!--
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png" />
        <link rel="shortcut icon" href="assets/ico/favicon.png" />
-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <center><h1>Importadora Palo Piña</h1><h2>Sin Usted Quebramos</h2></center>
    </head>
    <body>
        <div class="nav-section">
            <ul class="nav">
                <li><a href="{{path('home',{'medicina' : 'Medicina'})}}" class="salud">Salud</a></li>
                <li><a href="#tecno" class="tecno">Tecnología</a></li>
                <li><a href="#deportes" class="deportes">Deportes</a></li>
                <li><a href="#contacto" class="contacto">Contacto</a></li>
            </ul>
        </div>
        <div class="panel"> <!--Panels for content -->
            <div class="album"> <!-- Album panel -->
                <span class="closeicon"><i class="icon-remove"></i></span>
                <span class="closeicon"><i class="icon-remove"></i></span>
            </div>
            <div class="work"> <!-- Work panel -->
                <span class="closeicon"><i class="icon-remove"></i></span>
                <div class="row-fluid">
                    <div class="span8 well no-padding hidden-phone imagebg-3">
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12 well plum fluid-height overflow-show">
                    </div>
                </div>
            </div>
        </div>
        <div class="container-narrow">
        <div class="menu">
            <div class="nav-bar"></div>
            <div class="nav-bar"></div>
            <div class="nav-bar"></div>
        </div>
        <div class="row-fluid">
            <div class="span4 well orange fixed-height shadow" id="salud"> <!-- Fixed height for 300px on all devices, shadow for well a shadow and orange for the color -->
                <h1>Salud</h1>
                <p class="big"> Camillas, terapias alternativas y artículos médicos.</p>
            </div>
            <div class="span8 well fixed-height no-padding">
                <div class="flexslider" id="slider">
                    <ul class="slides">
                        <li>
                            <img src="{{asset('bundles/ppapalo/img/logooficial.jpg')}}" alt="" />
                        </li>
                        <li>
                            <img src="{{asset('bundles/ppapalo/img/logooficial.jpg')}}" alt="" />
                        </li>
                        <li>
                            <img src="{{asset('bundles/ppapalo/img/logooficial.jpg')}}" alt="" />
                        </li>
                        <li>
                            <img src="{{asset('bundles/ppapalo/img/logooficial.jpg')}}" alt="" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span7 no-padding well fixed-height click" id="tecno">
                <div class="bp-post">
                    <div class="title">
                        <h2>TECNOLOGÍA</h2>
                    </div>
                </div>
            </div>
            <div class="span5 tealblue well fixed-height hidden-phone"> <!-- hidden-phone hides it on items under 767px, makes it easier to read -->
                <h1 class="text-right">Tecnología </h1>
                <p class="text-right"> Accesorios Smartphone</p>
            </div>
        </div>
      <div class="row-fluid" id="deportes">
            <div class="span4 well purple fixed-height shadow"> <!-- Fixed height for 300px on all devices, shadow for well a shadow and orange for the color -->
                <h1>Deportes  </h1>
                <p class="big">Paintball, tatamis y mesas de pool.</p>
            </div>
            <div class="span8 well fixed-height no-padding">    
                <img src="{{asset('bundles/ppapalo/img/logooficial.jpg')}}" alt="" />
            </div>

       </div>
        

        <div class="row-fluid">
            <div class="span8 well sedgebrown overflow-show large" id="contacto">
                <h1>Quienes Somos</h1>
                 
                     Importadora Palo-Piña nace como un proyecto enfocado al área deportiva. A poco andar, nuestros clientes confiando en nuestra experiencia en importación nos solicitan nuevos productos de áreas como tecnología, salud y productos químicos.
                    </br></br>
                     Hoy, Importadora Palo-Piña es líder en importaciones de productos tales como municiones de Paintballs, camillas plegables y otros, cumpliendo los más altos estándares de calidad con excelentes tiempos y los mejores precios.
                    </br></br>
                     De esta manera, Importadora Palo-Piña se posiciona en el mercado chileno y extranjero, tomando siempre nuevos desafíos e imponiendo su experiencia en importación.

                
                <div class="outer-box-work"> <!-- changeable in css -->
                    <p>
                        <p class="small"><h1>Contacto</h1>
                        <dl>
                        <dt>Jorim Mella</dt><dd>Teléfono: 98792533 Mail: jorimjorim@gmail.com</dd>
                        </dl>
                        <dl>
                         <dt> Nelson Dussaubat</dt>
                         <dd> Teléfono: 98928412 Mail: neldus@gmail.com</dd>1
                         </dl>
                        
                         </p>
                    </p>
                </div>
            </div>
            <div class="span4">
                <div class="row-fluid">
                    <div class="span12 imagebg-3 well"> <!-- using css for full div background -->
                        
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12 well ecru">
                    
                        <p class="small"> perro qlao
                         </p>
                        
                    </div>
                </div>
            </div>
        </div>
    

   
        
        <!-- /container -->
        <!-- Le javascript
            ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        {% javascripts
            '@PpaPaloBundle/Resources/public/js/init/jquery.flexslider-min.js'
            '@PpaPaloBundle/Resources/public/js/init/jquery.fitvids.js'
            '@PpaPaloBundle/Resources/public/js/init/smoothscroll.js'

            output="filename.js" %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% javascripts
            '@PpaPaloBundle/Resources/public/js/init/jquery.backstretch.min.js'

            output="filename.js" %}
            <script src="{{ asset_url }}" type="text/javascript"></script>
        {% endjavascripts %}
        {% javascripts
            '@PpaPaloBundle/Resources/public/js/init/bootstrap.min.js'

            output="filename.js" %}
            <script src="{{ asset_url }}" ></script>
        {% endjavascripts %}
        <script type="text/javascript" src=""></script>
        {% javascripts
            '@PpaPaloBundle/Resources/public/js/init/gmaps.js'
            '@PpaPaloBundle/Resources/public/js/init/script.js'


            output="filename.js" %}
            <script src="{{ asset_url }}" type="text/javascript"></script>
        {% endjavascripts %}
        <script>menu(); backstretch(); slider(); contentslider(); map(); panels(); blogposts();</script> 
    </body>
</html>